.big__coins {
  border: 6px solid black;
  border-radius: 10px;
  padding: 0.7rem;
  background-color: lightgrey;
  display: flex;
  column-gap: 5px;
  margin-left: 10px;
}
.small__coins {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 0.7rem;
  position: relative;
  row-gap: 0.5rem;
  right: 55%;
  top: 40%;
}

.big__coins > img {
  max-width: 70px;
}

.coin__container {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.small__coins > div > img {
  max-width: 25px;
}
.small__coins > .coins {
  display: flex;
  column-gap: 5px;
}
.back__container {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.back__container > span {
  color: darkblue;
  font-size: 18px;
  font-weight: 600;
}
.hidden {
  visibility: hidden;
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.hidden > span {
  color: darkblue;
  font-size: 18px;
  font-weight: 600;
}
