.snickers {
  position: relative;
  top: -485px;
}
.snickers > img {
  max-width: 70px;
}
.snickers > .animatedSnick {
  position: relative;
  left: 180px;
  animation: snick 5s, display 5s;
  opacity: 1;
}
.snickers > .noAnimatedSnick {
  position: relative;
  left: 180px;
  opacity: 1;
}
.snickers > .elso {
  position: relative;
  left: 245px;
  transform: rotateZ(-18deg);
}
.snickers > .harmadik {
  position: relative;
  left: 110px;
  transform: rotateZ(-18deg);
}
.bomba {
  position: relative;
  top: -650px;
  width: 150px;
}

.bomba > img {
  max-width: 50px;
  max-height: 75px;
}
.bomba > .masodik {
  position: relative;
  left: 75px;
}

.bomba > .noAnimatedBomba {
  opacity: 1;
  position: relative;
  left: 60px;
}
.bomba > .animatedBomba {
  position: relative;
  left: 60px;
  animation: bomba 5s, display 5s;
  opacity: 1;
}
.bomba2 {
  position: relative;
  top: -120%;
  left: 22%;
  width: 150px;
}

.bomba2 > img {
  max-width: 50px;
  max-height: 75px;
}
.bomba2 > .masodik2 {
  position: relative;
  left: 13%;
  bottom: 5px;
}

.bomba2 > .noAnimatedBomba2 {
  opacity: 1;
  position: relative;
  bottom: 2px;
  left: 5%;
}
.bomba2 > .animatedBomba2 {
  position: relative;
  bottom: 2px;
  left: 5%;
  animation: bomba2 5s, display 5s;
  opacity: 1;
}
.mars {
  position: relative;
  width: 100px;
  top: -650px;
}
.mars > img {
  max-width: 70px;
  max-height: 80px;
}

.mars > .elso {
  position: relative;
  transform: rotateZ(-18deg);

  left: 185px;
}
.mars > .noAnimatedMars {
  position: relative;
  left: 185px;
  bottom: 65px;
  opacity: 1;
}
.mars > .animatedMars {
  position: relative;
  left: 185px;
  bottom: 65px;
  animation: mars 5s, display 5s;
  opacity: 1;
}
@keyframes mars {
  0% {
    top: -30px;
  }

  10% {
    top: -30px;
  }
  16% {
    top: 5px;
    visibility: hidden;
    transform: rotateZ(50deg);
  }
  24% {
    top: 90px;
    visibility: hidden;
  }
  25% {
    top: 95px;
  }

  100% {
    top: 95px;
    transform: rotateZ(50deg);
  }
}
@keyframes snick {
  0% {
    top: 1px;
  }

  10% {
    top: 10px;
  }
  16% {
    top: 150px;
    visibility: hidden;
  }
  24% {
    top: 220px;
    visibility: hidden;
  }
  25% {
    top: 240px;

    transform: rotateZ(50deg);
  }

  100% {
    left: 270px;
    top: 240px;
    transform: rotateZ(50deg);
  }
}

@keyframes bomba {
  0% {
    left: 60px;
    display: inline;
  }
  9% {
    transform: rotateZ(1deg);
  }
  10% {
    left: 65px;
    top: 20px;
    transform: rotateZ(70deg);
  }
  15% {
    transform: rotateZ(90deg);
  }
  16% {
    top: 150px;
    visibility: hidden;
  }
  20% {
    top: 230px;
    visibility: hidden;
  }

  21% {
    opacity: 1;
    top: 240px;
    left: 85px;
    transform: rotateZ(90deg);
  }

  100% {
    left: 150px;
    top: 240px;
    transform: rotateZ(90deg);
  }
}
@keyframes display {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bomba2 {
  0% {
    display: inline;
  }
  9% {
    transform: rotateZ(1deg);
  }
  10% {
    top: 20px;
    transform: rotateZ(180deg);
  }
  16% {
    transform: rotateZ(360deg);
  }
  16% {
    top: 380px;
    visibility: hidden;
  }
  20% {
    top: 450px;
    visibility: hidden;
  }

  21% {
    opacity: 1;
    top: 490px;

    transform: rotateZ(90deg);
  }

  100% {
    left: 150px;
    top: 490px;
    transform: rotateZ(90deg);
  }
}
